body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.room-details {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h2 {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

p {
  color: #777;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #23527c;
}

/* Responsif */
@media (max-width: 600px) {
  .room-details {
    max-width: 300px;
  }
}
